extends skeleton.pug

block content

    a(href="/api/players") Accueil joueurs

    h1 Détails du joueur

    h4 Nom du joueur
    p= player.name 

    h4 Email du joueur
    p= player.email

    form(action=`/api/players/${player.id}/edit`, method="GET")
        input(type="submit" value="Éditer")
    
    form(action=`/api/players/${player.id}/delete`, method="POST")
        input(type="submit" value="Supprimer")