extends skeleton.pug

block content
    h1 Liste des games

    a(class="button", href="/api/games/new") Création d'une partie

    if games.length === 0
       p Pas de parties trouvées
    else
        ul 
            each game in games 
                li= game.name
                    a(class="button", href=`/api/games/${game.id}/edit`) Editer
                