extends index.pug 

block content 
    h1 Création d'une partie

    form(action="/api/games", method="POST")
        p 
            | name: 
            input(type="text", name="name")
        input(type="submit")